/* 
 * This is the style sheet for the MapFree header
 * 
 * This stylesheet is written in sass and should be pre-processed to generate
 * the css file on which the app relies.
 */

 header{
 	position:fixed;
 	left: 0;
 	top: 0;
 	width: 100%;
	font-size: 1.5rem;
	height: 2.1785rem;
	background-color: $mainColor;
	color: white;
	padding: 0.5rem;
	z-index: 100;
	border-bottom: 1px solid darken($mainColor, 20%);
	transition: all 0.5s linear;

	h1, #menu-icon{
		float: left;
	}
	h1{
		margin-left: 10%;
		margin-top: 0.3125rem;
	}

	#menu-icon{
		font-size: 2rem;
		text-decoration: none;
	}

	#menu-icon:before{
		font-family: icomoon;
		color: white;
		content: "\e9bd";
	}
}

#header.scroll{
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}