/* 
 * This is the style sheet for the MapFree header
 * 
 * This stylesheet is written in sass and should be pre-processed to generate
 * the css file on which the app relies.
 *
 * This is the style for the login section
 */

 #login{

	.container{
		background-size: cover;
		background-position: top center;
		height: calc(100% - 1.6rem);
	}

	.login-focused{
 		top: 0.5rem;
 	}

 	#loginbox{
 		position: relative;
 		top: 14rem;
 		transition: top 0.5s linear;
 	}

 	

	input, button{
		display: block;
		height: 2rem;
		font-size: 1.3rem;
		width: 80%;
		margin: 1rem auto;
		outline: none;
	}

	input {
		border: 1px solid #7b7b7b;
	}

	input:focus{
		box-shadow: 0 0 1px black;
	}

	button{
		border: none;
		color: white;
		background: $mainColor;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	button:hover{
		background: darken($mainColor, 10%);
		box-shadow: 2px 0 5px $mainColor;
	}

 }